<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Manas Sharma</title>
    <!--Importing core css -->
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
    <!--Importing custom css -->
    <link href="../stylesheets/cover.css" rel="stylesheet">
    <link href="../stylesheets/positioning.css" rel="stylesheet">
</head>
<body background="../images/426805.jpg">
<div class="site-wrapper">

    <div class="site-wrapper-inner">

        <div class="cover-container">

            <div class="masthead clearfix">
                <div class="inner">
                    <h3 class="masthead-brand">
                        <ul class="nav masthead-nav">
                            <li class="active"> <a href="../index.html">Home</a></li>
                        </ul>
                    </h3>

                    <nav>
                        <ul class="nav masthead-nav">
                            <li class="active"><a href="../Files/ManasSharmaResume.pdf">Resume</a></li>
                            <li class="active"><a href="projects.html">Projects</a></li>
                            <li class="active"><a href="contact.html">Contact</a></li>
                            <li class="active"><a href="about.html">About</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>

        <div>
            <img class="img-circle" width="150" height="100" src="../images/manas.jpg"/>
            <h4 class="img-text">Coder. Avid Musician. Thinker</h4>
        </div>

        <div>
            <h4 class="education">Education:</h4>
            <li class="masters">Arizona State University, Tempe (Masters in Computer Science). May 2016</li>
            <li class="bachelors">Visvesvaraya Tech. University (B.E Information Science). June 2012</li>
        </div>

        <div>
            <h4 class="organizations">Organizations worked for:</h4>
            <li class="tristar">Tristar Inc. (Software Engineering Intern) October 2015 - Present </li>
            <li class="asu">Arizona State University (Graduate Assistant) August 2015 - October 2015 </li>
            <li class="Skytouch">Skytouch Technology (Software Engineering Intern) May 2015 - August 2015 </li>
            <li class="Accenture">Accenture (Software Engineering Analyst) June 2012 - July 2014 </li>
        </div>

        <div>
            <h4 class="achievements">Achievements:</h4>
            <li class="sdm">Best outgoing student award in engineering (SDM College of Engineering)</li>
            <li class="stellar">Accenture Stellar Award (KPN Data Migration Factory)</li>
        </div>
    </div>
</div>
</body>
</html>