<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Manas Sharma</title>
    <!--Importing core css -->
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
    <!--Importing custom css -->
    <link href="../stylesheets/cover.css" rel="stylesheet">
    <link href="../stylesheets/positioning.css" rel="stylesheet">
</head>
<body background="../images/426805.jpg">
<div class="site-wrapper">

    <div class="site-wrapper-inner">

        <div class="cover-container">

            <div class="masthead clearfix">
                <div class="inner">
                    <h3 class="masthead-brand">
                        <ul class="nav masthead-nav">
                            <li class="active"> <a href="../index.html">Home</a></li>
                        </ul>
                    </h3>

                    <nav>
                        <ul class="nav masthead-nav">
                            <li class="active"><a href="../Files/ManasSharmaResume.pdf">Resume</a></li>
                            <li class="active"><a href="projects.html">Projects</a></li>
                            <li class="active"><a href="contact.html">Contact</a></li>
                            <li class="active"><a href="about.html">About</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <!--
        <div class="img-circle">
            <img width="125" height="125" src="../images/my_img1.jpg"/>
            <label>Phone: 480-603-6910</label>
        </div>
        -->
        <div class="contactAlign">
            <h4>Find me on:</h4>
        </div>
        <div>
            <a class="linkedin" href="https://www.linkedin.com/in/manassharma1"><img src="../images/ln.png" /></a>
            <a class="facebook" href="https://www.facebook.com/manas.sharma1990"><img src="../images/fb.png" /></a>
            <a class="git" href="https://github.com/manassharma"><img src="../images/git.png" /></a>
        </div>
        <div class="phone">
            <h4>Phone: +1480-603-6910</h4>
        </div>
        <div class="email">
            <h4>Email: manas_sharma@msn.com</h4>
        </div>
    </div>
</div>
</body>
</html>